/* StyleAll/RecipeList.css */

.recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.recipe-card {
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-card:hover {
  background-color: #eaeaea;
}

.selected {
  background-color: #b8d0ff;
}

.recipe-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 14px;
  color: gray;
}

/* StyleAll/DeleteButton.css */

.delete-button {
  background-color: #ff5757;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #ff3636;
}
